USE [QLKS]
GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[MABOPHAN] [char](4) NOT NULL,
	[TENBOPHAN] [nvarchar](20) NULL,
 CONSTRAINT [PK_BOPHAN] PRIMARY KEY CLUSTERED 
(
	[MABOPHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MAHD] [char](4) NOT NULL,
	[MAPT] [char](4) NOT NULL,
	[MAPHONG] [char](4) NOT NULL,
	[MADV] [char](4) NOT NULL,
	[TIENPHONG] [bigint] NULL,
	[TIENDV] [bigint] NULL,
	[TIENPHUTHU] [bigint] NULL,
	[MOTAPHUTHU] [ntext] NULL,
	[TONGCONG] [bigint] NULL,
 CONSTRAINT [PK_CT_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAPT] ASC,
	[MAPHONG] ASC,
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEUDAT]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEUDAT](
	[MAPHIEUDAT] [char](4) NOT NULL,
	[MAHANG_PHONG] [char](4) NOT NULL,
	[NGAYTHUE_DUKIEN] [date] NULL,
	[SONGAYTHUE_DUKIEN] [int] NULL,
 CONSTRAINT [PK_CT_PHIEUDAT] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUDAT] ASC,
	[MAHANG_PHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_PHIEUTHUE]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_PHIEUTHUE](
	[MAPHIEUTHUE] [char](4) NOT NULL,
	[MAPHONG] [char](4) NOT NULL,
	[NGAYDEN] [datetime] NULL,
	[NGAYDI] [datetime] NULL,
	[PHUTHU] [ntext] NULL,
 CONSTRAINT [PK_CT_PHIEUTHUE] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUTHUE] ASC,
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [char](4) NOT NULL,
	[TENDV] [nvarchar](50) NULL,
	[MALOAI_DV] [char](4) NULL,
	[DVT] [nchar](10) NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DV_PHONGTHUE]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DV_PHONGTHUE](
	[MAPT] [char](4) NOT NULL,
	[MAPHONG] [char](4) NOT NULL,
	[MADV] [char](4) NOT NULL,
	[SOLUONG] [int] NULL,
	[GIA] [int] NULL,
 CONSTRAINT [PK_DV_PHONGTHUE] PRIMARY KEY CLUSTERED 
(
	[MAPT] ASC,
	[MAPHONG] ASC,
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIA_DV]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIA_DV](
	[NGAY] [date] NOT NULL,
	[MADV] [char](4) NOT NULL,
	[GIADV] [int] NULL,
 CONSTRAINT [PK_GIA_DV] PRIMARY KEY CLUSTERED 
(
	[NGAY] ASC,
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIA_PHONG]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIA_PHONG](
	[MAHANG_PHONG] [char](4) NOT NULL,
	[NGAY] [date] NOT NULL,
	[MAGIA_P] [char](4) NOT NULL,
	[GIA_PHONG] [int] NULL,
 CONSTRAINT [PK_GIA_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAHANG_PHONG] ASC,
	[NGAY] ASC,
	[MAGIA_P] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HANG_PHONG]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HANG_PHONG](
	[MAHANG_PHONG] [char](4) NOT NULL,
	[MALOAI_P] [char](4) NULL,
	[MAKIEU_P] [char](4) NULL,
 CONSTRAINT [PK_HANG_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAHANG_PHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [char](4) NOT NULL,
	[NGAYLAP] [datetime] NULL,
	[MANV] [char](4) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KH_PHONGTHUE]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KH_PHONGTHUE](
	[MAKH] [char](4) NOT NULL,
	[MAPT] [char](4) NOT NULL,
	[MAPHONG] [char](4) NOT NULL,
	[DANGSUDUNG] [bit] NULL,
 CONSTRAINT [PK_KH_PHONGTHUE] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC,
	[MAPT] ASC,
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](4) NOT NULL,
	[HO] [nvarchar](30) NULL,
	[TEN] [nchar](6) NULL,
	[DIACHI] [ntext] NULL,
	[CMND] [char](10) NULL,
	[SDT] [char](11) NULL,
	[GIOITINH] [bit] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KIEU_PHONG]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KIEU_PHONG](
	[MAKIEU_P] [char](4) NOT NULL,
	[TENKIEU_PHONG] [nvarchar](50) NULL,
 CONSTRAINT [PK_KIEU_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAKIEU_P] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KM]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KM](
	[MAKM] [int] NOT NULL,
	[GIAM] [int] NULL,
 CONSTRAINT [PK_KM] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KM_HANGP]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KM_HANGP](
	[MAHANG_PHONG] [char](4) NOT NULL,
	[MAKM] [int] NOT NULL,
	[TUNGAY] [datetime] NULL,
	[DENNGAY] [datetime] NULL,
 CONSTRAINT [PK_KM_HANGP] PRIMARY KEY CLUSTERED 
(
	[MAHANG_PHONG] ASC,
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAI_DV]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAI_DV](
	[MALOAI_DV] [char](4) NOT NULL,
	[TENLOAI] [nvarchar](30) NULL,
 CONSTRAINT [PK_LOAI_DV] PRIMARY KEY CLUSTERED 
(
	[MALOAI_DV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAI_PHONG]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAI_PHONG](
	[MALOAI_P] [char](4) NOT NULL,
	[TENLOAI_PHONG] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAI_PHONG] PRIMARY KEY CLUSTERED 
(
	[MALOAI_P] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGAY]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGAY](
	[NGAY] [date] NOT NULL,
 CONSTRAINT [PK_NGAY] PRIMARY KEY CLUSTERED 
(
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](4) NOT NULL,
	[HO] [nvarchar](30) NULL,
	[TEN] [nchar](6) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [ntext] NULL,
	[SDT] [char](11) NULL,
	[CMND] [char](10) NULL,
	[GIOITINH] [bit] NULL,
	[MABOPHAN] [char](4) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUDAT]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUDAT](
	[MAPHIEUDAT] [char](4) NOT NULL,
	[MANV] [char](4) NULL,
	[MAKH] [char](4) NULL,
	[NGAYDAT] [datetime] NULL,
	[SOPHONGDAT] [int] NULL,
 CONSTRAINT [PK_PHIEUDAT] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUDAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUTHUE]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUTHUE](
	[MAPHIEUTHUE] [char](4) NOT NULL,
	[MAKH] [char](4) NULL,
	[MANV] [char](4) NULL,
	[MAPHIEUDAT] [char](4) NULL,
	[NGAYTHUE] [datetime] NULL,
	[SONGAYTHUE] [int] NULL,
	[SOPHONGTHUE] [int] NULL,
 CONSTRAINT [PK_PHIEUTHUE] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUTHUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [char](4) NOT NULL,
	[TENPHONG] [nvarchar](30) NULL,
	[MATT] [char](4) NULL,
	[HINH] [ntext] NULL,
	[MAHANG] [char](4) NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TRANGTHAI_PHONG]    Script Date: 7/25/2018 8:11:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRANGTHAI_PHONG](
	[MATT] [char](4) NOT NULL,
	[TINHTRANG_PHONG] [nvarchar](20) NULL,
 CONSTRAINT [PK_TRANGTHAI_PHONG] PRIMARY KEY CLUSTERED 
(
	[MATT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BOPHAN] ([MABOPHAN], [TENBOPHAN]) VALUES (N'1   ', N'Quản lý')
INSERT [dbo].[CT_HOADON] ([MAHD], [MAPT], [MAPHONG], [MADV], [TIENPHONG], [TIENDV], [TIENPHUTHU], [MOTAPHUTHU], [TONGCONG]) VALUES (N'3   ', N'1   ', N'P001', N'DV01', 200, 6, NULL, N'THANHTOAN', 387)
INSERT [dbo].[CT_HOADON] ([MAHD], [MAPT], [MAPHONG], [MADV], [TIENPHONG], [TIENDV], [TIENPHUTHU], [MOTAPHUTHU], [TONGCONG]) VALUES (N'3   ', N'1   ', N'P001', N'DV03', 200, 9, NULL, NULL, 387)
INSERT [dbo].[CT_HOADON] ([MAHD], [MAPT], [MAPHONG], [MADV], [TIENPHONG], [TIENDV], [TIENPHUTHU], [MOTAPHUTHU], [TONGCONG]) VALUES (N'3   ', N'1   ', N'P001', N'DV04', 200, 6, NULL, NULL, 387)
INSERT [dbo].[CT_PHIEUTHUE] ([MAPHIEUTHUE], [MAPHONG], [NGAYDEN], [NGAYDI], [PHUTHU]) VALUES (N'1   ', N'P001', CAST(N'2018-07-22 01:46:39.320' AS DateTime), NULL, NULL)
INSERT [dbo].[CT_PHIEUTHUE] ([MAPHIEUTHUE], [MAPHONG], [NGAYDEN], [NGAYDI], [PHUTHU]) VALUES (N'1   ', N'P002', CAST(N'2018-07-22 01:46:39.320' AS DateTime), NULL, NULL)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [MALOAI_DV], [DVT]) VALUES (N'DV01', N'Cơm Gà', N'L001', N'Phần      ')
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [MALOAI_DV], [DVT]) VALUES (N'DV02', N'Cơm Sườn', N'L001', N'Phần      ')
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [MALOAI_DV], [DVT]) VALUES (N'DV03', N'Phở bò', N'L001', N'Tô        ')
INSERT [dbo].[DV_PHONGTHUE] ([MAPT], [MAPHONG], [MADV], [SOLUONG], [GIA]) VALUES (N'1   ', N'P001', N'DV01', 3, 2)
INSERT [dbo].[DV_PHONGTHUE] ([MAPT], [MAPHONG], [MADV], [SOLUONG], [GIA]) VALUES (N'1   ', N'P001', N'DV03', 3, 3)
INSERT [dbo].[DV_PHONGTHUE] ([MAPT], [MAPHONG], [MADV], [SOLUONG], [GIA]) VALUES (N'1   ', N'P001', N'DV04', 2, 3)
INSERT [dbo].[GIA_DV] ([NGAY], [MADV], [GIADV]) VALUES (CAST(N'2018-07-17' AS Date), N'DV01', 2)
INSERT [dbo].[GIA_DV] ([NGAY], [MADV], [GIADV]) VALUES (CAST(N'2018-07-17' AS Date), N'DV02', 2)
INSERT [dbo].[GIA_DV] ([NGAY], [MADV], [GIADV]) VALUES (CAST(N'2018-07-17' AS Date), N'DV03', 3)
INSERT [dbo].[GIA_PHONG] ([MAHANG_PHONG], [NGAY], [MAGIA_P], [GIA_PHONG]) VALUES (N'H001', CAST(N'2018-07-17' AS Date), N'GIA1', 200)
INSERT [dbo].[GIA_PHONG] ([MAHANG_PHONG], [NGAY], [MAGIA_P], [GIA_PHONG]) VALUES (N'H002', CAST(N'2018-07-17' AS Date), N'GIA1', 150)
INSERT [dbo].[GIA_PHONG] ([MAHANG_PHONG], [NGAY], [MAGIA_P], [GIA_PHONG]) VALUES (N'H003', CAST(N'2018-07-17' AS Date), N'GIA1', 100)
INSERT [dbo].[HANG_PHONG] ([MAHANG_PHONG], [MALOAI_P], [MAKIEU_P]) VALUES (N'H001', N'L001', N'K001')
INSERT [dbo].[HANG_PHONG] ([MAHANG_PHONG], [MALOAI_P], [MAKIEU_P]) VALUES (N'H002', N'L002', N'K002')
INSERT [dbo].[HANG_PHONG] ([MAHANG_PHONG], [MALOAI_P], [MAKIEU_P]) VALUES (N'H003', N'L003', N'K003')
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAP], [MANV]) VALUES (N'1   ', CAST(N'2018-07-23 04:58:34.783' AS DateTime), NULL)
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAP], [MANV]) VALUES (N'2   ', CAST(N'2018-07-23 05:01:00.210' AS DateTime), NULL)
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAP], [MANV]) VALUES (N'3   ', CAST(N'2018-07-23 05:14:51.077' AS DateTime), NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [HO], [TEN], [DIACHI], [CMND], [SDT], [GIOITINH]) VALUES (N'1   ', N'Nguyễn Văn ', N'Long  ', N'HCM', N'281074694 ', N'01885588221', NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [HO], [TEN], [DIACHI], [CMND], [SDT], [GIOITINH]) VALUES (N'2   ', N'Nguyễn ', N'Huệ   ', N'hcm', N'123456789 ', N'0123456789 ', NULL)
INSERT [dbo].[KIEU_PHONG] ([MAKIEU_P], [TENKIEU_PHONG]) VALUES (N'K001', N'1 giường đôi')
INSERT [dbo].[KIEU_PHONG] ([MAKIEU_P], [TENKIEU_PHONG]) VALUES (N'K002', N'1 giường đơn 1 giường đôi')
INSERT [dbo].[KIEU_PHONG] ([MAKIEU_P], [TENKIEU_PHONG]) VALUES (N'K003', N'2 giường đôi')
INSERT [dbo].[KM] ([MAKM], [GIAM]) VALUES (1, 20)
INSERT [dbo].[KM_HANGP] ([MAHANG_PHONG], [MAKM], [TUNGAY], [DENNGAY]) VALUES (N'H001', 1, CAST(N'2018-07-10 00:00:00.000' AS DateTime), CAST(N'2018-08-10 00:00:00.000' AS DateTime))
INSERT [dbo].[LOAI_DV] ([MALOAI_DV], [TENLOAI]) VALUES (N'L001', N'Thức Ăn')
INSERT [dbo].[LOAI_DV] ([MALOAI_DV], [TENLOAI]) VALUES (N'L002', N'Đồ Uống')
INSERT [dbo].[LOAI_DV] ([MALOAI_DV], [TENLOAI]) VALUES (N'L003', N'Giặt Ủi')
INSERT [dbo].[LOAI_PHONG] ([MALOAI_P], [TENLOAI_PHONG]) VALUES (N'L001', N'VIP')
INSERT [dbo].[LOAI_PHONG] ([MALOAI_P], [TENLOAI_PHONG]) VALUES (N'L002', N'Sang')
INSERT [dbo].[LOAI_PHONG] ([MALOAI_P], [TENLOAI_PHONG]) VALUES (N'L003', N'Thường')
INSERT [dbo].[NGAY] ([NGAY]) VALUES (CAST(N'2018-07-17' AS Date))
INSERT [dbo].[NGAY] ([NGAY]) VALUES (CAST(N'2018-07-18' AS Date))
INSERT [dbo].[NHANVIEN] ([MANV], [HO], [TEN], [NGAYSINH], [DIACHI], [SDT], [CMND], [GIOITINH], [MABOPHAN]) VALUES (N'1   ', N'Nguyễn Hửu', N'Cảnh  ', CAST(N'1990-11-01' AS Date), N'HN', N'0123456789 ', N'0123456789', 1, N'1   ')
INSERT [dbo].[PHIEUTHUE] ([MAPHIEUTHUE], [MAKH], [MANV], [MAPHIEUDAT], [NGAYTHUE], [SONGAYTHUE], [SOPHONGTHUE]) VALUES (N'1   ', N'1   ', NULL, NULL, CAST(N'2018-07-22 01:46:39.320' AS DateTime), NULL, 2)
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [MATT], [HINH], [MAHANG]) VALUES (N'P001', N'PHÒNG 001', N'TT02', N'room1.jpg', N'H001')
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [MATT], [HINH], [MAHANG]) VALUES (N'P002', N'PHÒNG 002', N'TT02', N'room2.jpg', N'H002')
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [MATT], [HINH], [MAHANG]) VALUES (N'P003', N'PHÒNG 003', N'TT01', N'room3.jpg', N'H003')
INSERT [dbo].[TRANGTHAI_PHONG] ([MATT], [TINHTRANG_PHONG]) VALUES (N'TT01', N'TRỐNG')
INSERT [dbo].[TRANGTHAI_PHONG] ([MATT], [TINHTRANG_PHONG]) VALUES (N'TT02', N'ĐANG SỬ DỤNG')
INSERT [dbo].[TRANGTHAI_PHONG] ([MATT], [TINHTRANG_PHONG]) VALUES (N'TT03', N'BẢO TRÌ')
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_DV_PHONGTHUE] FOREIGN KEY([MAPT], [MAPHONG], [MADV])
REFERENCES [dbo].[DV_PHONGTHUE] ([MAPT], [MAPHONG], [MADV])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_DV_PHONGTHUE]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOADON]
GO
ALTER TABLE [dbo].[CT_PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUDAT_HANG_PHONG] FOREIGN KEY([MAHANG_PHONG])
REFERENCES [dbo].[HANG_PHONG] ([MAHANG_PHONG])
GO
ALTER TABLE [dbo].[CT_PHIEUDAT] CHECK CONSTRAINT [FK_CT_PHIEUDAT_HANG_PHONG]
GO
ALTER TABLE [dbo].[CT_PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUDAT_PHIEUDAT] FOREIGN KEY([MAPHIEUDAT])
REFERENCES [dbo].[PHIEUDAT] ([MAPHIEUDAT])
GO
ALTER TABLE [dbo].[CT_PHIEUDAT] CHECK CONSTRAINT [FK_CT_PHIEUDAT_PHIEUDAT]
GO
ALTER TABLE [dbo].[CT_PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUTHUE_PHIEUTHUE] FOREIGN KEY([MAPHIEUTHUE])
REFERENCES [dbo].[PHIEUTHUE] ([MAPHIEUTHUE])
GO
ALTER TABLE [dbo].[CT_PHIEUTHUE] CHECK CONSTRAINT [FK_CT_PHIEUTHUE_PHIEUTHUE]
GO
ALTER TABLE [dbo].[CT_PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEUTHUE_PHONG] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[CT_PHIEUTHUE] CHECK CONSTRAINT [FK_CT_PHIEUTHUE_PHONG]
GO
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD  CONSTRAINT [FK_DICHVU_LOAI_DV] FOREIGN KEY([MALOAI_DV])
REFERENCES [dbo].[LOAI_DV] ([MALOAI_DV])
GO
ALTER TABLE [dbo].[DICHVU] CHECK CONSTRAINT [FK_DICHVU_LOAI_DV]
GO
ALTER TABLE [dbo].[DV_PHONGTHUE]  WITH CHECK ADD  CONSTRAINT [FK_DV_PHONGTHUE_CT_PHIEUTHUE] FOREIGN KEY([MAPT], [MAPHONG])
REFERENCES [dbo].[CT_PHIEUTHUE] ([MAPHIEUTHUE], [MAPHONG])
GO
ALTER TABLE [dbo].[DV_PHONGTHUE] CHECK CONSTRAINT [FK_DV_PHONGTHUE_CT_PHIEUTHUE]
GO
ALTER TABLE [dbo].[DV_PHONGTHUE]  WITH CHECK ADD  CONSTRAINT [FK_DV_PHONGTHUE_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[DV_PHONGTHUE] CHECK CONSTRAINT [FK_DV_PHONGTHUE_DICHVU]
GO
ALTER TABLE [dbo].[GIA_DV]  WITH CHECK ADD  CONSTRAINT [FK_GIA_DV_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[GIA_DV] CHECK CONSTRAINT [FK_GIA_DV_DICHVU]
GO
ALTER TABLE [dbo].[GIA_DV]  WITH CHECK ADD  CONSTRAINT [FK_GIA_DV_NGAY] FOREIGN KEY([NGAY])
REFERENCES [dbo].[NGAY] ([NGAY])
GO
ALTER TABLE [dbo].[GIA_DV] CHECK CONSTRAINT [FK_GIA_DV_NGAY]
GO
ALTER TABLE [dbo].[GIA_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_GIA_PHONG_HANG_PHONG] FOREIGN KEY([MAHANG_PHONG])
REFERENCES [dbo].[HANG_PHONG] ([MAHANG_PHONG])
GO
ALTER TABLE [dbo].[GIA_PHONG] CHECK CONSTRAINT [FK_GIA_PHONG_HANG_PHONG]
GO
ALTER TABLE [dbo].[GIA_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_GIA_PHONG_NGAY1] FOREIGN KEY([NGAY])
REFERENCES [dbo].[NGAY] ([NGAY])
GO
ALTER TABLE [dbo].[GIA_PHONG] CHECK CONSTRAINT [FK_GIA_PHONG_NGAY1]
GO
ALTER TABLE [dbo].[HANG_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_HANG_PHONG_KIEU_PHONG] FOREIGN KEY([MAKIEU_P])
REFERENCES [dbo].[KIEU_PHONG] ([MAKIEU_P])
GO
ALTER TABLE [dbo].[HANG_PHONG] CHECK CONSTRAINT [FK_HANG_PHONG_KIEU_PHONG]
GO
ALTER TABLE [dbo].[HANG_PHONG]  WITH CHECK ADD  CONSTRAINT [FK_HANG_PHONG_LOAI_PHONG] FOREIGN KEY([MALOAI_P])
REFERENCES [dbo].[LOAI_PHONG] ([MALOAI_P])
GO
ALTER TABLE [dbo].[HANG_PHONG] CHECK CONSTRAINT [FK_HANG_PHONG_LOAI_PHONG]
GO
ALTER TABLE [dbo].[KH_PHONGTHUE]  WITH CHECK ADD  CONSTRAINT [FK_KH_PHONGTHUE_CT_PHIEUTHUE] FOREIGN KEY([MAPT], [MAPHONG])
REFERENCES [dbo].[CT_PHIEUTHUE] ([MAPHIEUTHUE], [MAPHONG])
GO
ALTER TABLE [dbo].[KH_PHONGTHUE] CHECK CONSTRAINT [FK_KH_PHONGTHUE_CT_PHIEUTHUE]
GO
ALTER TABLE [dbo].[KH_PHONGTHUE]  WITH CHECK ADD  CONSTRAINT [FK_KH_PHONGTHUE_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[KH_PHONGTHUE] CHECK CONSTRAINT [FK_KH_PHONGTHUE_KHACHHANG]
GO
ALTER TABLE [dbo].[KM_HANGP]  WITH CHECK ADD  CONSTRAINT [FK_KM_HANGP_HANG_PHONG] FOREIGN KEY([MAHANG_PHONG])
REFERENCES [dbo].[HANG_PHONG] ([MAHANG_PHONG])
GO
ALTER TABLE [dbo].[KM_HANGP] CHECK CONSTRAINT [FK_KM_HANGP_HANG_PHONG]
GO
ALTER TABLE [dbo].[KM_HANGP]  WITH CHECK ADD  CONSTRAINT [FK_KM_HANGP_KM] FOREIGN KEY([MAKM])
REFERENCES [dbo].[KM] ([MAKM])
GO
ALTER TABLE [dbo].[KM_HANGP] CHECK CONSTRAINT [FK_KM_HANGP_KM]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_BOPHAN] FOREIGN KEY([MABOPHAN])
REFERENCES [dbo].[BOPHAN] ([MABOPHAN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_BOPHAN]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_PHIEUDAT_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDAT_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_PHIEUDAT_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHUE_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHUE_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUE_PHIEUDAT] FOREIGN KEY([MAPHIEUDAT])
REFERENCES [dbo].[PHIEUDAT] ([MAPHIEUDAT])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_PHIEUTHUE_PHIEUDAT]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_HANG_PHONG] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANG_PHONG] ([MAHANG_PHONG])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_HANG_PHONG]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_TRANGTHAI_PHONG] FOREIGN KEY([MATT])
REFERENCES [dbo].[TRANGTHAI_PHONG] ([MATT])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_TRANGTHAI_PHONG]
GO
